<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <script type="text/javascript" src="scripts/general.js"></script>
    <script type="text/javascript" src="scripts/latest.js"></script>
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css" />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css?family=Inconsolata"
    />
    <link rel="stylesheet" href="styles/extensions.css" />
  </head>
  <body>
    <div class="w3-container" id="where" style="padding-bottom: 32px">
      <div class="w3-content" style="max-width: 700px">
        <%- include ('menu.ejs') %>
        <h1 id="titulo">Latest searches</h1>
        <div class="w3-content" id="content" style="max-width: 700px">
          <!-- Result list here (dinamycally loaded) -->
        </div>
        <script>
          getLatest();
        </script>
      </div>
    </div>
  </body>
</html>
