<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <script type="text/javascript" src="/scripts/general.js"></script>
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css" />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css?family=Inconsolata"
    />
    <link rel="stylesheet" href="/styles/extensions.css">
  </head>
  <body>
    <div class="w3-container" id="where" style="padding-bottom: 32px">
      <div class="w3-content" style="max-width: 700px">
        <%- include ('menu.ejs') %>
        </iframe>
        <h1 id="titulo">Login</h1>
        <h3 id="subtitulo"></h3>
        <h4 id="errorText" style="color: red"></h4>
        <form
          class="w3-input w3-padding-16 w3-border"
          action="/users/auth"
          method="post"
        >
          <br /><br />
          Email:
          <input
            class="w3-input w3-padding-16 w3-border"
            id="email"
            name="email"
          />
          <br />
          Password:
          <input
            type="password"
            class="w3-input w3-padding-16 w3-border"
            id="pass"
            name="pass"
          />
          <br />
          <p>
            <input
              class="w3-button w3-black"
              type="submit"
              value="Submit"
            />
          </p>
        </form>
      </div>
    </div>
    <script>
      let err = getURLParameter("err");
      if (err==1) {
        document.getElementById("errorText").innerHTML="Invalid access";
      }
    </script>
  </body>
</html>
