<a href="/films">Films</a> | <a href="/search">Search</a> |
<a href="/history">Lastest</a> | <% if (username) { %>
<a href="/users/logout"><%= username %> (Logout)</a> <% } else { %>
<a href="/users/login">Login</a> <% } %>
