<a href="/films">Fetched</a> | <a href="/search">Search</a> |
<a href="/films/history">Lastest</a> | <% if (username) { %>
<a href="/admin">Admin</a> |
<a href="/users/logout"><%= username %> (Logout)</a> <% } else { %>
<a href="/users/login">Login</a> <% } %>
