<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <script type="text/javascript" src="/scripts/general.js"></script>
    <script type="text/javascript" src="/scripts/search.js"></script>
    <script src="/scripts/Chart.min.js"></script>
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css" />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css?family=Inconsolata"
    />
    <link rel="stylesheet" href="/styles/extensions.css">
  </head>
  <body>
    <a href="" name="top" id="top"></a>
    <div class="w3-container" id="where" style="padding-bottom: 32px">
      <div class="w3-content" style="max-width: 700px">
        <%- include ('menu.ejs') %>
        </iframe>
        <h1 id="titulo">Search for a film info</h1>
        <h3 id="subtitulo"></h3>
        <h4 id="errorText" style="color: red"></h4>
        <form
          class="w3-input w3-padding-16 w3-border"
          action="/search"
          method="post"
        >
          <div class="autocomplete" style="width:100%">
              Film:
              <input
                class="w3-input w3-padding-16 w3-border"
                id="film"
                name="film"
                value=""
                onkeyup="findFilm()"
              />
          </div>
          <br /><br />
          Title:
          <input
            class="w3-input w3-padding-16 w3-border"
            id="title"
            name="title"
            value=""
            disabled=true
          />
          <br />
          Year:
          <input
            type="number"
            class="w3-input w3-padding-16 w3-border"
            id="year"
            name="year"
            value=""
            disabled=true
          />
          <br />
          <p>
            <input
              class="w3-button w3-black"
              type="button"
              value="Submit"
              onclick="doIt(false)"
            />
          </p>
        </form>
      </div>
    </div>
    <div class="w3-container" id="where" style="padding-bottom: 32px">
      <div class="w3-content" id="parsersList" style="max-width: 700px">
        <a href="" name="info" id="info"></a>
        <h3><a href=#top style="text-decoration: none">&#9650;</a></h3>
        <h3 id="resultsTitle">Results</h3>
        <span id="cachedText" style="color: blue"> </span> <input class="w3-button w3-black" type="button" value="Refresh" id="refreshButton" onclick="doIt(true)">
        <!-- Parser list here (dinamycally loaded) -->
      </div>
    </div>
    <div style="width:500px; height: 700px; margin:0 auto;">
      <div class="chart-container" style="position: relative; height: 3vh; width: 30vw">
        <canvas id="myChart" width="200" height="200"></canvas>
      </div>
    </div>
    <script>
      // Cargar la info
      loadInfo();

      // Ocultar el chart hasta que se cargue la info correspondiente
      function hideChart() {
        document.getElementById("myChart").style.visibility='hidden';
      }

      // Render chart of a movie's public & critics score
      function displayChart(data) {
        document.getElementById("myChart").style.visibility='visible';    
        let rt = data.filter((parser) => {
          return parser.parser == "RT";
        });
        let imdb = data.filter((parser) => {
          return parser.parser == "IMDb";
        });      
        let rtScore = 0;
        let imdbScore = 0;
        try {
          rtScore = parseFloat(rt[0].criticsScore) / 10;
          imdbScore = parseInt(imdb[0].publicScore);
        } catch (error) { /* No score data retrieved. */ }
        var ctx = document.getElementById("myChart").getContext("2d");
        var myChart = new Chart(ctx, {
          type: "bar",
          data: {
            labels: ["Score"],
            datasets: [
              {
                label: "Public",
                data: [imdbScore],
                backgroundColor: ["rgba(255, 99, 132, 0.2)"],
                borderColor: ["rgba(255, 99, 132, 1)"],
                borderWidth: 1,
              },
              {
                label: "Critics",
                data: [rtScore],
                backgroundColor: ["rgba(54, 162, 235, 0.2)"],
                borderColor: ["rgba(54, 162, 235, 1)"],
                borderWidth: 1,
              },
            ],
          },
          options: {
            scales: {
              yAxes: [
                {
                  ticks: {
                    beginAtZero: true,
                    suggestedMax: 10
                  },
                },
              ],
            },
          },
        });
      }
    </script>
  </body>
</html>
